<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
	xsi:noNamespaceSchemaLocation='urn:magento:framework:ObjectManager/etc/config.xsd'
>
<!-- 2019-11-13
For backward compatibility when using in CMS:
{{block class="Magento\Framework\View\Element\Template" template="Justuno_Jumagext::embed.phtml"}} -->
	<virtualType name='Justuno\Jumagext\Block\Frontend\Embed' type='Magento\Framework\View\Element\Template'/>
</config>